{% extends 'layout/base.html' %}

{% load static %}

{% block main %}


 <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href=" {% url 'portfolio' %} ">Portfolio</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: {{portfolio_item.category}}</li>
                <li><strong>Client</strong>: {{portfolio_item.client}}</li>
                <li><strong>Project date</strong>: {{portfolio_item.project_date}}</li>
                <li><strong>Project URL</strong>: <a href="{{portfolio_item.project_url}}">{{portfolio_item.project_url}}</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              {{portfolio_item.project_detail|safe}}
            </div>
          </div>

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{portfolio_item.logo.url}}" alt="">
                </div>

                
              </div>
              
            </div>
          </div>



        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->


{% endblock main %}